!!!
%html
  %head
    %title= yield_content(:title)
    %link{:href => '/favicon.png', :rel => 'icon'}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    =javascript_include_tag 'jquery', 'jquery-ujs', 'application'
    =stylesheet_link_tag 'application'
  %body
    %h1= yield_content(:title)
    =yield
    %p
      The
      =link_to 'August 2013 puzzle in the PuzzlOR', 'http://puzzlor.com/2013-08_UrbanPlanning.html'
      includes the puzzle that inspired this toy.
